.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #59585e;
  height: 750px;
}

.app-title {
  font-size: 80px;
  margin: 100px 10px 5px 10px;
  color: white;
  font-family: 'Titillium Web', sans-serif;
}

.footer-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.footer {
  margin-top: auto;
  color: white;
}
a:link, a:visited {
  color: white;
}


