
.Search {
  width: 100%;
  background-color: #59585e;
}

.result {
  margin: 10px;
  width: 300px;
  border: 1px solid white;
}

.result:hover {
  box-shadow: 5px 5px white;
}
.search-container {
  display: flex;
  justify-content: center;
}

.search-bar {
  font-size: 30px;
  width: 50%;
  background-color: unset;
  border: unset;
  border-bottom: 2px solid #d62d2d;
  color: white;
}

.search-bar:focus {
  outline: none;
}

.result-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}

.result-content {
  margin: 3px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: white;
}

.modal-container {
  position: absolute;
  top: 32%;
  left: 33%;
}

.modal-button {
  position: absolute;
  right: 0px;
  color: red;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  font-size: 30px;
}